.single-post {
     &__area {
          padding: $grid-gutter-width*2 0;
     }
     &__content, &__title, &__image {
          margin-bottom: $grid-gutter-width*1.5;
     }
     &__title {
          margin-top: $grid-gutter-width*1.5;
     }
}